{% extends 'accounts/index.html' %}
{% load static %}

{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'cart' %}">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if order.is_ordered != True %}
                            {% for item in order.get_cart_items %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{{ item.product.image.url }}" height="140px" width="140px" alt="">
                                            </div>
                                            <div class="media-body">
                                                <p>{{ item.product.name }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>{{ item.product.price }}</h5>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}



                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>

                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
<!--                                        <h5>{{ order.id }}</h5>-->
                                        <h5 style="margin-right: 20px;">Total: {{ order.get_cart_total }}</h5>
                                        {% if order.id %}
                                            <a class="gray_btn" style="background-color: red; color: white" href="{% url 'clear_cart' order_id=order.id %}">Clear cart</a>
                                        {% endif %}
                                        <a class="gray_btn" href="{% url 'shop' %}">Continue Shopping</a>
                                        {% if order != 0 %}
                                        <a class="primary-btn" href="{% url 'checkout' order_id=order.id %}">Proceed to checkout</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

{% endblock %}