{% extends 'accounts/index.html' %}
{% load static %}

{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'checkout' order_id=order.id %}">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->

    <div style="height: 90px; width: 240px; margin-left: auto; margin-right: auto; margin-top: 70px; margin-bottom: 70px">
        <h3 style="text-align: center">Total price: {{ order.get_cart_total }}</h3>
        <a class="btn btn-warning" href="{% url 'cart' %}" style="width: 118px">Back</a>
        <a class="btn btn-success" href="{% url 'confirmed' order_id=order.id %}" style="width: 118px">Pay</a>
    </div>

{% endblock %}