{% extends 'accounts/index.html' %}

{% block content %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Delete profile</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'profile' %}">Profile<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'delete' %}">Delete</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div style="height: 90px; width: 720px; margin-left: auto; margin-right: auto; margin-top: 70px; margin-bottom: 90px">
        <h3 style="text-align: center">Are you sure you want to delete your profile?</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'profile' %}" style="margin-left: 280px">Cancel</a>
            <button class="btn btn-danger" type="submit" name="Confirm">Delete</button>
        </form>
    </div>

{% endblock %}