{% extends 'accounts/index.html' %}

{% block content %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Forgot password</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'forgot_password' %}">Forgot password</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div style="margin-top: 70px; margin-bottom: 70px; display: flex; align-items: center; justify-content: center;">
        <form autocomplete="off" action="{% url 'reset_password' %}" method="GET">
            <input type="text" name="email" placeholder="Enter your email" style="width: 240px; text-align: center">
            <button type="submit" class="btn btn-primary" value="submit" style="font-size: small">Submit</button>
        </form>
    </div>

{% endblock %}