<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
<!--	&lt;!&ndash;-->
<!--		CSS-->
<!--		============================================= &ndash;&gt;-->
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link rel="stylesheet" href="{% static 'accounts/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'accounts/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'accounts/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href=""><img src="{% static 'accounts/img/logo.png' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<span style="display: table; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: 250px;">Hello, {{ request.user }}!</span>
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
							{% if request.user.is_staff %}
								<li class="nav-item"><a class="nav-link" href="{% url 'staff' %}">Orders</a></li>
							{% endif %}
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
							<li class="nav-item"><a href="{% url 'cart' %}" class="cart"><span class="lnr lnr-cart"></span></a></li>
							{% if request.user.is_authenticated %}
								<li class="nav-item"><a href="{% url 'profile' %}" class="profile"><span class="lnr lnr-user"></span></a></li>
								<li class="nav-item"><a href="{% url 'logout' %}" class="out"><span class="lnr lnr-exit"></span></a></li>
							{% else %}
								<li class="nav-item"><a href="{% url 'login' %}" class="enter"><span class="lnr lnr-enter"></span></a></li>
							{% endif %}

						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form action="{% url 'shop' %}" method="GET"  class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" name="search" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	{% block content %}
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						{% for item in products %}
							<div class="row single-slide align-items-center d-flex">
								<div class="col-lg-5 col-md-6">
									<div class="banner-content">
										<h2>{{ item.name }}</h2>
										<h1>Nike New <br>Collection!</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
											dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
										<div class="add-bag d-flex align-items-center">
											<a class="add-btn" href="{% url 'add_to_cart' item=item.id %}"><span class="lnr lnr-cross"></span></a>
											<span class="add-text text-uppercase">Add to Cart</span>
										</div>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="banner-img">
										<img class="img-fluid" src="{% static 'accounts/img/banner/banner-img.png' %}" alt="">
									</div>
								</div>
							</div>
						{% endfor %}
<!--						&lt;!&ndash; single-slide &ndash;&gt;-->
<!--						<div class="row single-slide">-->
<!--							<div class="col-lg-5">-->
<!--								<div class="banner-content">-->
<!--									<h1>Nike New <br>Collection!</h1>-->
<!--									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
<!--									<div class="add-bag d-flex align-items-center">-->
<!--										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>-->
<!--										<span class="add-text text-uppercase">Add to Bag</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="col-lg-7">-->
<!--								<div class="banner-img">-->
<!--									<img class="img-fluid" src="{% static 'accounts/img/banner/banner-img.png' %}" alt="">-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	{% endblock %}

<!-- PASTE HERE -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="{% static 'accounts/img/i1.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i2.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i3.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i4.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i5.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i6.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i7.jpg' %}" alt=""></li>
							<li><img src="{% static 'accounts/img/i8.jpg' %}" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="{% static 'accounts/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'accounts/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'accounts/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'accounts/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'accounts/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'accounts/js/nouislider.min.js' %}"></script>
	<script src="{% static 'accounts/js/countdown.js' %}"></script>
	<script src="{% static 'accounts/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'accounts/js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'accounts/js/gmaps.min.js' %}"></script>
	<script src="{% static 'accounts/js/main.js' %}"></script>
</body>

</html>