{% extends 'accounts/index.html' %}
{% load static %}

	{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					{% block title %}
					<h1>Login</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'login' %}">Login</a>
					</nav>
					{% endblock %}
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'accounts/img/login.jpg' %}" alt="">
						<div class="hover">
							{% block image %}
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{% url 'register' %}">Create an Account</a>
							{% endblock %}
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						{% block form %}
						<h3>Log in to enter</h3>
						<form autocomplete="off" class="row login_form" action="" method="POST" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Username">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password">
							</div>
							<div class="col-md-12 form-group">
<!--								<div class="creat_account">-->
<!--									<input type="checkbox" id="f-option2" name="selector">-->
<!--									<label for="f-option2">Keep me logged in</label>-->
<!--								</div>-->
							</div>
							<div class="col-md-12 form-group">
								{% for message in messages %}
								<p>{{ message }}</p>
								{% endfor %}
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<a href="{% url 'forgot_password' %}">Forgot Password?</a>
							</div>
						</form>
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	{% endblock %}