{% extends 'accounts/login.html' %}

{% block title %}
    <h1>Register</h1>
    <nav class="d-flex align-items-center">
        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
        <a href="{% url 'register' %}">Register</a>
    </nav>
{% endblock %}

{% block image %}
    <h4>Already have an account?</h4>
    <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
    <a class="primary-btn" href="{% url 'login' %}">Log in</a>
{% endblock %}

{% block form %}
    <h3>Create an account</h3>
    <form autocomplete="off" class="row login_form" action="" method="POST" id="contactForm" novalidate="novalidate">
        {% csrf_token %}
        <div class="col-md-12 form-group">
            {{ form.username }}
<!--            <input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">-->
        </div>
        <div class="col-md-12 form-group">
            {{ form.email }}
        </div>
        <div class="col-md-12 form-group">
            {{ form.phone }}
        </div>
        <div class="col-md-12 form-group">
            {{ form.password1 }}
<!--            <input type="text" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">-->
        </div>
        <div class="col-md-12 form-group">
            {{ form.password2 }}
<!--            <input type="text" class="form-control" id="e-mail" name="e-mail" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'">-->
        </div>
<!--        <div class="col-md-12 form-group">-->
<!--            {{ form.phone }}-->
<!--&lt;!&ndash;            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">&ndash;&gt;-->
<!--        </div>-->
        {{ form.errors }}
        <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="primary-btn">Register</button>
        </div>
    </form>
{% endblock %}