{% extends 'accounts/index.html' %}
{% load static %}

{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop page</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'shop' %}">Shop</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" checked type="radio" id="all" name="brand" value="all"><label for="all">All</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="adidas" name="brand" value="adidas"><label for="adidas">Adidas</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="nike" name="brand" value="nike"><label for="nike">Nike</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="converse" name="brand" value="converse"><label for="converse">Converse</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="puma" name="brand" value="puma"><label for="puma">Puma</label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Color</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" checked type="radio" id="all_col" name="color" value="all"><label for="all_col">All</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="red" name="color" value="red"><label for="red">Red</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="white" name="color" value="white"><label for="white">White</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="yellow" name="color" value="yellow"><label for="yellow">Yellow</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blue" name="color" value="blue"><label for="blue">Blue</label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="green" name="color" value="green"><label for="green">Green</label></li>
<!--								<li class="filter-list"><input class="pixel-radio" type="radio" id="gray" name="color"><label for="gray">Gray</label></li>-->
<!--								<li class="filter-list"><input class="pixel-radio" type="radio" id="pink" name="color"><label for="pink">Pink</label></li>-->
<!--								<li class="filter-list"><input class="pixel-radio" type="radio" id="brown" name="color"><label for="brown">Brown</label></li>-->
							</ul>
						</form>
					</div>

				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7" style="margin-top: 50px">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center" style="height: 60px">
					<div class="sorting">
						<form action="{% url 'shop' %}" method="GET">
							<select name="sorting">
								{% if sorting == 'none' %}
									<option value="none" selected>None</option>
								{% else %}
									<option value="none">None</option>
								{% endif %}
								{% if sorting == 'ascending' %}
									<option value="ascending" selected>Ascending price</option>
								{% else %}
									<option value="ascending">Ascending price</option>
								{% endif %}
								{% if sorting == 'descending' %}
									<option value="descending" selected>Descending price</option>
								{% else %}
									<option value="descending">Descending price</option>
								{% endif %}
							</select>
							<button type="submit" style="height: 30px; margin-left: 15px; margin-top: 6px; border-width: 1px; border-radius: 5px">Sort</button>
						</form>
					</div>

					{% if items.has_other_pages %}
						<div class="pagination" style="margin-left: auto">
							{% if items.has_previous %}
								<a href="?page={{ items.previous_page_number }}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
							{% else %}
								<a class="disabled"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
							{% endif %}

							{% for i in items.paginator.page_range %}
								{% if items.number == i %}
									<a href="?page={{ i }}" class="active">{{ i }}</a>
								{% else %}
									<a href="?page={{ i }}">{{ i }}</a>
								{% endif %}
							{% endfor %}

							{% if items.has_next %}
								<a href="?page={{ items.next_page_number }}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							{% else %}
								<a class="disabled"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							{% endif %}
						</div>
					{% endif %}

				</div>
				<!-- End Filter Bar -->

				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						{% for i in items %}
							<div class="col-lg-4 col-md-6">
								<a href="{% url 'product' item=i.id %}">
									<div class="single-product">
										<img class="img-fluid" src="{{ i.image.url }}" alt="">
										<div class="product-details">
											<h6>{{ i.name }}</h6>
											<div class="price">
												<h6>${{ i.price }}</h6>
												<h6 class="l-through">${{ i.price }}</h6>
											</div>
											<div class="prd-bottom">

											</div>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</section>
				<!-- End Best Seller -->

				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center" style="height: 60px; margin-bottom: 50px">

				{% if items.has_other_pages %}
					<div class="pagination">
						{% if items.has_previous %}
							<a href="?page={{ items.previous_page_number }}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						{% else %}
							<a class="disabled"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						{% endif %}

						{% for i in items.paginator.page_range %}
							{% if items.number == i %}
								<a href="?page={{ i }}" class="active">{{ i }}</a>
							{% else %}
								<a href="?page={{ i }}">{{ i }}</a>
							{% endif %}
						{% endfor %}

						{% if items.has_next %}
							<a href="?page={{ items.next_page_number }}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						{% else %}
							<a class="disabled"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						{% endif %}
					</div>
				{% endif %}


				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

{% endblock %}