{% extends 'accounts/index.html' %}
{% load static %}

{% block content %}

    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Orders</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'staff' %}">Orders</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table align="center" border="2px" cellpadding="2px" frame="above" rules="rows" width="1000px" style="text-align: center">
                        <thead>
                            <tr>
                                <th scope="col" height="60px">Owner</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Total price</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ord in orders %}
                                <tr>
                                    <th height="50px">{{ ord.owner }}</th>
                                    <th>{{ ord.owner.phone }}</th>
                                    <th>{{ ord.get_cart_total }}</th>
                                    <th>{{ ord.date_ordered }}</th>
                                    <th>{{ ord.status }}</th>
                                    <th width="220px">
                                        {% if ord.status == 'Pending' %}
                                            <a class="btn btn-success" href="{% url 'confirm_order' order_id=ord.id %}">Confirm</a>
                                            <a class="btn btn-danger" href="{% url 'delete_order' order_id=ord.id %}">Delete</a>
                                        {% else %}
                                            <span>---------</span>
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}